<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>SplashScreen</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
		<key>dark</key>
		<string>#00241B</string>
		<key>light</key>
		<string>#EAEBE5</string>
	</dict>
</dict>
</plist>
